.home-cotainer{
        display: flex;
        align-items: stretch;
        align-content: center;
        justify-content: space-evenly;
        padding-bottom: 175px;
}
.product-detail{
     width: 50%;
     align-self: center;
}
.product-imag{
        padding-top: 100px;
        
        height: 480px;
        width: 280px;
}
@media screen and (max-width:1100px) {
        .home-cotainer{
                margin-top: 0px;
                display: flex;
                flex-direction: column-reverse;
        }
        .product-detail{
                width: 100%;
                align-self: center;
           }
        .product-imag{
                height: 480px;
                padding-top: 140px;
                padding-bottom: 10px;
                padding-left: 115px;
                
        
        }
    }